<div class="container mt-5">
  <h1 class="text-center mb-4">Drinks</h1>

  <table class="table table-hover table-dark align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Volume</th>
        <th scope="col">Price (€)</th>
        <th  scope="col" class="text-end">Order</th>
      </tr>
    </thead>

    <tbody>
      <% @beverages.each do |beverage| %>
        <tr>
          <td><%= beverage.name %></td>

          <td><%= beverage.volume %></td>
          <td><%= number_with_precision(beverage.price, precision: 0) %></td>
          <td class="text-end">
            <%= form_with url: order_items_path, method: :post, local: true, class: "d-inline-flex align-items-center" do |f| %>
              <%= f.hidden_field :beverage_id, value: beverage.id %>
              <%= f.number_field :quantity, value: 1, min: 1, class: "form-control form-control-sm me-2", style: "width: 70px;" %>
              <%= button_to "Add to Order",
              order_items_path(order_item: { beverage_id: beverage.id, quantity: 1 }),
              class: "btn btn-gold btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
