<div class="d-flex justify-content-center align-items-start bg-dark vh-100 pt-1 ">
  <div class="floating-card" style="width: 100%;" >

    <div class="row g-4 align-items-center">

      <!-- LEFT SIDE: TEXT -->
      <div class="col-md-8">

        <div class="card-body">
          <h2 class="fw-bold mb-3 text-center text-uppercase heading-gold">
          <%= @menu_item.name %>
          </h2>
          <p class="lead">
          <%= @menu_item.description.presence || "No description available." %>
          </p>
          <p class="fs-5 fw-semibold mb-3">€ <%= @menu_item.price %></p>
        </div>

      </div>

      <!-- RIGHT SIDE: IMAGE -->
        <div class="col-md-4 text-center">
          <% if @menu_item.image_name.present? %>
            <%= image_tag asset_path(@menu_item.image_name),
                class: "rounded-3 shadow",
                style: "max-height: 180px; width: 100%; height: auto; object-fit: contain;",
                alt: @menu_item.name %>
          <% else %>
            <p class="text-muted">No image available</p>
          <% end %>
        </div>

      <!-- BUTTONS -->
      <div class="mt-4 d-flex justify-content-between">
          <%= link_to "Back to Menu", menu_items_path, class: "btn btn-gold" %>
          <%= button_to "Add to Order",
            order_items_path(order_item: { menu_item_id: @menu_item.id, quantity: 1 }),
            method: :post,
            class: "btn btn-gold" %>
      </div>



    </div>
  </div>
</div>
