<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">

        <h2 class="fw-bold mb-4 text-center border-bottom pb-2">
          <%= @menu_item.name %>
        </h2>

        <dl class="row mb-4">


          <dt class="col-sm-4 text-muted">Price</dt>
          <dd class="col-sm-8">€ <%= number_with_precision(@menu_item.price, precision: 2) %></dd>
        </dl>

        <p class="lead">
          <%= @menu_item.description.presence || "No description available yet." %>
        </p>

        <div class="mt-4 d-flex justify-content-between">
          <%= link_to "Back to Menu", menu_items_path, class: "btn btn-gold" %>
          <%= button_to "Add to Order",
            order_items_path(order_item: { menu_item_id: @menu_item.id, quantity: 1 }),
            method: :post,
            class: "btn btn-gold" %>
            <%#onclick: "showAddedAlert()"%>


        </div>

      </div>
    </div>
  </div>

<%# <script>
function showAddedAlert() {
Swal.fire({
title: 'Added to Order!',
text: 'Your meal has been added successfully.',
icon: 'success',

})
}'
</script> %>
<footer>
  © <%= Time.now.year %> Private Sommelier. All rights reserved.
</footer>
