<div class="d-flex justify-content-center align-items-start vh-100 bg-dark pt-1">
  <div class="floating-card" style="width:100%" >

  <h1 class="display-5 mb-3 heading-gold">Your order</h1>


  <div class="table-responsive">
      <table class="table table-hover table-dark table-bordered align-middle shadow-sm">
        <thead class="text-center">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price (€)</th>
          <th scope="col">     </th>
        </tr>
      </thead>

      <tbody  class="text-center">
        <% @order_items.each do |item| %>
          <tr>
            <td><%= item.menu_item&.name || item.wine&.name || item.beverage&.name %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.total, unit: "€") %></td>
            <td>
              <%= button_to "DELETE", order_item_path(item),
              method: :delete,
              form: { data: { turbo: false } },
              data: { confirm: "Really???" },
              class: "btn btn-gold btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="d-flex justify-content-between mt-4">
      <%= link_to "Back to Menu", menu_items_path, class: "btn btn-gold" %>
      <%= link_to "Back to Wine List", wines_path, class: "btn btn-gold" %>
      <%= link_to "Back to Drinks", beverages_path, class: "btn btn-gold" %>
      <h4><strong>Total:</strong> <%= number_to_currency(@total_price, unit: "€") %></h4>
    </div>
  </div>
 </div>
</div>
