<h2>Create the order</h2>

<%= form_with model: @order_item, local: true do |f| %>
  <div>
    <%= f.label :user_id, "User_id" %><br>
    <%= f.number_field :user_id %>
  </div>

  <div>
    <%= f.label :menu_item_id, "Menu_item_id" %><br>
    <%= f.number_field :menu_item_id %>
  </div>

  <div>
    <%= f.label :wine_id, "Wine_id" %><br>
    <%= f.number_field :wine_id %>
  </div>

  <div>
    <%= f.label :beverage_id, "Beverage_id" %><br>
    <%= f.number_field :beverage_id %>
  </div>

  <div>
    <%= f.label :quantity, "Quantity" %><br>
    <%= f.number_field :quantity, value: 1, min: 1 %>
  </div>

  <div>
    <%= f.submit "Create the order" %>
  </div>
<% end %>
