<div class="container my-3">
  <h1 class="display-5 mb-3"
        style="background: linear-gradient(90deg, #f5f5dc, #daa520, #8b4513);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 0 0 15px rgba(218,165,32,0.4);">
          Wine Collection
    </h1>

  <table class="table table-hover table-dark align-middle">
    <thead class="table-dark">

    </thead>

    <tbody>
      <% @wines.each_with_index do |wine, index| %>
        <tr>
          <td class="fw-semibold"><%= wine.name %></td>
          <td><%= wine.category %></td>
          <td><%= wine.country %></td>
          <td>€ <%= number_with_precision(wine.price, precision: 2) %></td>
          <td class="text-end">
            <%= link_to "Details", wine_path(wine), class: "btn btn-gold btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<footer>
  © <%= Time.now.year %> Private Sommelier. All rights reserved.
</footer>
