<div class="d-flex justify-content-center align-items-start vh-100 bg-dark pt-1">
  <div class="floating-card" style="width: 100%;" >

        <h2 class="fw-bold mb-4 text-center border-bottom pb-2 heading-gold">
          <%= @wine.name %>
        </h2>

        <dl class="row mb-4">
          <dt class="col-sm-4">Category</dt>
          <dd class="col-sm-8"><%= @wine.category %></dd>

          <dt class="col-sm-4">Country</dt>
          <dd class="col-sm-8"><%= @wine.country %></dd>

          <dt class="col-sm-4">Volume</dt>
          <dd class="col-sm-8"><%= @wine.volume.presence || "0.75 l" %></dd>

          <dt class="col-sm-4">Price</dt>
          <dd class="col-sm-8">€ <%= number_with_precision(@wine.price, precision: 2) %></dd>
        </dl>

        <div class="col-md-4 text-center">
          <% if @wine.image.present? %>
            <%= image_tag asset_path(@wine.image),
                class: "img-fluid rounded-3 float-end ms-3 shadow",
                style: "max-width: 220px; height: auto;",
                alt: @wine.name %>
          <% else %>
            <p class="text-muted">No image available</p>
          <% end %>
        </div>


        <p class="lead">
          <%= @wine.description.presence || "No description available yet." %>
        </p>

        <div class="mt-4 d-flex justify-content-between">
          <%= link_to "Back to Wine List", wines_path, class: "btn btn-gold" %>
          <%= button_to "Add to Order",
            order_items_path(order_item: { wine_id: @wine.id, quantity: 1 }),
            method: :post,
            class: "btn btn-gold" %>
        </div>
  </div>
</div>
